<!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <main class="py-5">
            <div class="content container px-lg-5 p-4 bg-light rounded-3 min-vh-100">
                <h2 class="text-center display-3 fw-bold">Cultura</h2>
                <div style = "display: flex;justify-content: center; align-items: center; flex-direction: column; margin-top: 50px;">
                  <div style = "font-size: 2em;margin: 20px 0;" id="countdown">15</div>
                </div>
                <div class="d-grid gap-2" style = "background-color:blueviolet; color:white;">
                    <h1 class="display-2 fw-bold">{{pregunta}}</h1>
                </div>
                <br />
                <div class="grid text-center" style="--bs-columns: 2; --bs-gap: 5rem;">
                    {{#answers}}
                        <button id = "{{.}}" class="g-col-2 btn" style ="width:100%; height:35%;margin: 0em 0em 2em 0em;;background-color:blueviolet;color:white;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <b>{{.}}</b>
                        </button>
                    {{/answers}}
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content bg-success">
                      <div class="modal-header">
                        <h5 class="modal-title text-light" id="exampleModalLabel"><b>¡Acertaste!</b></h5>
                        
                      </div>
                      <div class="modal-body text-dark">
                        Has ganado <b>5 puntos!</b> Elige continuar o cerrar la partida aquí.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success">Siguiente pregunta</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


        </main>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const countdownDisplay = document.getElementById('countdown');
        let countdownValue = 15; // Valor inicial de la cuenta regresiva

        const countdown = setInterval(() => {
            countdownValue--;
            countdownDisplay.textContent = countdownValue;

            if (countdownValue <= 0) {
                clearInterval(countdown);
                countdownDisplay.textContent = '¡Tiempo acabado!';
                
                window.location.href = '/partida/checkAnswer';
            }
        }, 1000); // Decrementa cada segundo
    });
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
