
  <div class="w3-content" style="max-width:2000px;margin-top:46px">
    <main class="py-5">
      <div class="container d-flex flex-column align-items-center">
        <img src="/public/404.jpg" class="img-fluid rounded mx-auto mb-4" style="max-width: 50%;" alt="sad trivia faces">
        <br />
        <form class = "mx-auto mb-4" action = "/lobby/get" method = "POST">
          <h1>{{fail}}</h1>
          <button class = "btn btn-primary align-center" type="submit">Volver al lobby</button>
        </form>
      </div>
    </main>
  </div>
</body>
