<body>
<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <main class="py-5">
        <div class="content container px-lg-5 p-4 bg-light rounded-3">
            <form action="/lobby/get" method="POST">
                <h1>LO LAMENTO, FALLASTE!</h1>
                <button class="btn btn-primary" type="submit">Volver al lobby</button>
            </form>
            <form action="/user/claimQuestionWrong" method="POST">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Crees que hay un error con la pregunta?</strong>
                    <p>Podés reclamar la corrección de la pregunta para que un administrador la evalúe</p>
                    <input type="hidden" name="questionId" value="{{questionId}}">
                    <button class="btn btn-warning" type="submit">Reclamar Corrección</button>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
