<body>
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <main class="py-5">
            <div class="content container px-lg-5 p-4 bg-light rounded-3">
                <form action = "/lobby/get" method = "post">
                    <h1>LO LAMENTO, FALLASTE</h1>
                    <button class = "btn btn-primary" type="submit">Volver al lobby</button>
                </form>
            </div>
        </main>
    </div>
    
</body>
