<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3 min-vh-100">
        <h2 class="text-center display-3 fw-bold">Historia</h2>
        <h5 class="text-center">Bienvenido a la partida, <b>{{username}}</b></h5>
        <div class="">

        </div>
    </div>

</main>