<main class="py-5">

    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h2 class="text-center display-3 fw-bold">Lobby</h2>

        <h5 class="text-center">Bienvenido <b>{{username}}</b>!!</h5>
        <div class ="px-lg-5 p-4 bg-light rounded-3">
            <p>Inicia una nueva partida aquí mismo</p>
            <form action="/partida/play" method="POST">
                <button type="submit" class="btn btn-primary" name="iniciarPartida">Iniciar Partida!</button>
            </form>
        </div>
        <h5 class="text-center">Bienvenido {{role}}</h5>
    </div>
    <div class="w3-center">
        <a href="/game/startGame" class="w3-button w3-orange w3-padding-large">Jugar</a>

    </div>
</main>