<!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <main class="py-5">

            <div class="content container px-lg-5 p-4 bg-light rounded-3">
                <h2 class="text-center display-3 fw-bold">Lobby</h2>
                <h5 class="text-center">Bienvenido <b>{{username}}</b>!!</h5>
                <div class ="px-lg-5 p-4 bg-light rounded-3">
                    <p>Inicia una nueva partida aquí mismo</p>
                    <form action="/partida/play" method="POST">
                        <button type="submit" class="btn btn-primary" name="iniciarPartida">Iniciar Partida!</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>