<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3 min-vh-100">
        <h2 class="text-center display-3 fw-bold">Partida</h2>
        <h5 class="text-center">Bienvenido a la partida, <b>{{username}}</b></h5>
        <p>A continuación elige un tema para comenzar el juego</p>
        <div class = "px-lg-5 p-4 bg-light rounded-3">
            <img src="/public/trivia.png" style="position: absolute; z-index: 0; opacity: 50%;"/>

            <a href="/partida/start" class="text-decoration-none">
                <div class="rounded-3" style="z-index:1; display:flex; justify-content:center; align-items:center; background-color: yellow; color: black; font-size:500%; min-height: 30%; min-width: 70%; text-align-all: center;opacity: 70%;}">
                    <p>Historia</p>
                </div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="rounded-3" style="z-index:1; display:flex; justify-content:center; align-items:center; background-color: blueviolet; color: rebeccapurple; font-size:500%; min-height: 30%; min-width: 70%; text-align-all: center;opacity: 70%;}">
                    <p>Cultura</p>
                </div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="rounded-3" style="z-index:1; display:flex; justify-content:center; align-items:center; background-color: forestgreen; color: white; font-size:500%; min-height: 30%; min-width: 70%; text-align-all: center;opacity: 70%;}">
                    <p>Deportes</p>
                </div>
            </a>
        </div>
    </div>
</main>