<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
<div class="w3-container w3-card w3-white w3-margin-top w3-padding">
    <h2 class="w3-center">Perfil de Usuario</h2>
    <div class="w3-row">
        <div class="w3-col m9">
            <p><strong>Nombre Completo:</strong> {{user.fullname}}</p>
            <p><strong>Correo Electrónico:</strong> {{user.email}}</p>
            <p><strong>Puntuación:</strong> {{user.score}}</p>
            <p><strong>Posicion:</strong> {{user.position}}</p>

            {{#isAdmin}}
            <h5>Estadísticas de Preguntas</h5>
            <canvas id="questionStatsChart" width="350" height="200"></canvas>
                <button class="btn btn-sm btn-outline-danger m-2" onclick="generatePDF('questionStatsChart', 'Estadisticas usuario')">Descargar PDF</button>
            {{/isAdmin}}

            <p><img src="{{qr}}" alt="Código QR"></p>

            <div class="col-md-12">
                <label class="form-label">Ubicación:</label>
                <input type="hidden" id="latitude" name="latitude" value="{{user.latitude}}">
                <input type="hidden" id="longitude" name="longitude" value="{{user.longitude}}">
                <div id="map" style="height: 400px; width: 100%; border: 1px solid #000;"></div>
                <small id="input-coordinates"></small>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var latitude = parseFloat(document.getElementById("latitude").value);
        var longitude = parseFloat(document.getElementById("longitude").value);

        var map = L.map('map').setView([latitude, longitude], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([latitude, longitude]).addTo(map)
                .bindPopup('Ubicación del usuario')
                .openPopup();
    });

        var ctx = document.getElementById('questionStatsChart').getContext('2d');
        var questionStatsChart = new Chart(ctx, {
        type: 'pie',
        data: {
        labels: ['Correctas', 'Incorrectas'],
        datasets: [{
        data: [{{correct}}, {{incorrect}}],
        backgroundColor: ['#36A2EB', '#FF6384'],
    }]
    },
        options: {
        responsive: false,
        plugins: {
        legend: {
        position: 'top',
    },
    }
    }
    });

    function generatePDF(canvasId, title) {
        const { jsPDF } = window.jspdf;
        const canvas = document.getElementById(canvasId);
        const imgData = canvas.toDataURL("image/png");
        const pdf = new jsPDF();
        pdf.text(title, 10, 10);
        pdf.addImage(imgData, 'PNG', 10, 20, 180, 160); // Ajusta el tamaño y la posición de la imagen en el PDF
        pdf.save(`${title}.pdf`);
    }

</script>

</html>