<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
<div class="w3-container w3-card w3-white w3-margin-top w3-padding">
    <h2 class="w3-center">Perfil de Usuario</h2>
    <div class="w3-row">
        <div class="w3-col m9">
            <p><strong>Nombre Completo:</strong> {{user.fullname}}</p>
            <p><strong>Correo Electrónico:</strong> {{user.email}}</p>
            <p><strong>Puntuación:</strong> {{user.score}}</p>
            <p><strong>Posicion:</strong> {{user.position}}</p>
            <p><img src="{{qr}}" alt="Código QR"></p>

            <div class="col-md-12">
                <label class="form-label">Ubicación:</label>
                <input type="hidden" id="latitude" name="latitude" value="{{user.latitude}}">
                <input type="hidden" id="longitude" name="longitude" value="{{user.longitude}}">
                <div id="map" style="height: 400px; width: 100%; border: 1px solid #000;"></div>
                <small id="input-coordinates"></small>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var latitude = parseFloat(document.getElementById("latitude").value);
        var longitude = parseFloat(document.getElementById("longitude").value);

        var map = L.map('map').setView([latitude, longitude], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([latitude, longitude]).addTo(map)
                .bindPopup('Ubicación del usuario')
                .openPopup();
    });
</script>
</html>