<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Usuarios</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-card w3-white w3-margin-top w3-padding">
    <h2 class="w3-center">Top 10 Usuarios</h2>
    {{#showMessage}}
        <div class="w3-panel w3-red">
            <p>{{message}}</p>
        </div>
    {{/showMessage}}
    <table class="w3-table-all w3-centered">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Puntuación</th>
        </tr>
        </thead>
        <tbody>
        {{#topUsers}}
            <tr>
                <td><a href="/user/getUserProfile?id={{id}}">{{fullname}}</a></td>
                <td>{{score}}</td>
            </tr>
        {{/topUsers}}
        {{^topUsers}}
            <tr>
                <td colspan="2">No hay usuarios disponibles.</td>
            </tr>
        {{/topUsers}}
        </tbody>
    </table>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>